
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}

html{
	height: 100%;
	width: 100%;
}
body{
  background: #00171F;
	
  width: 100%;
  
  color: #494949;
  color: #fefff2;
  font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: normal;
  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  
  overflow-x: hidden;
  
  padding: 0px;

  /*
  font-family: 'Rufina', serif;
  */

  /*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}
@media only screen
and (min-width : 0px)
and (max-width : 767px){
	body{
		font-size: 16px;
	}
}
strong{
	font-weight: 600;
}

.preload{
	display: block;
	position: absolute;
	float: none;
	top: -2000px;
	left: -2000px;
}

/*
body,
body *{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.ie9{
  font-family: Arial, sans-serif !important;
}
*/

body .mobile{
  display: none !important;
}
@media only screen
and (min-width : 0px)
and (max-width : 767px){
  body .mobile{
    display: block !important;
  }
  body .desktop{
    display: none !important;
  }
}

a{
  text-decoration: none;
  color: inherit;
}
[glyph]{
  font-family: Arial !important;
}



br, .clear{
	clear: both;
}
.no-clear,
.noclear{
  clear: none !important;
}
.nobrk{
  white-space: nowrap;
}
sup,
sub{
	position: relative;
  font-size: .65em;
  line-height: 0em;
  text-transform: none;
}
sup{
  vertical-align: super;
}
sup a{
	text-decoration: none;
}
sub{
	top: 2px;
}
aside sup{
}
.center{
  text-align: center;
}



h1,
h2,
h3,
h4,
p,
ul{
  padding: 0px 0px 12px;
  clear: both;
  font-size: inherit;
	font-weight: normal;
}
h1,
h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
ul ul{
	padding-bottom: 0px;
}
ul li{
	margin: 10px 0px 0px;
}
ul li:last-child{
	padding-bottom: 0px;
}

p sup,
li sup{
  padding-left: 1px;
}

ul,
ul li{
  list-style: none;
}
ul li{
	position: relative;
  padding-left: 22px;
}
a{
	color: inherit;
}

@media only screen
and (min-width : 0px)
and (max-width : 767px) {
}



p.hang{
  padding-left: 6px;
}
p.hang .hang{
  float: left;
  margin: 0px 0px 0px -6px;
  width: 4px;
  top: 5px;
}

body > div{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

main > div,
header,
article,
footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
main{
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
header,
article{
  overflow: hidden;
}
header{
  height: 100vh;
}
article{
  border-top: #003459 solid 1px;
}
.content{
  display: block;
  position: relative;
  float: none;
  margin: 0px auto;
  width: 100%;
  max-width: 980px;
  padding: 20px 20px 0px;
  box-sizing: border-box;
  height: 100%;
}
.btn,
.btn span,
.btn strong{
  display: block;
  position: relative;
  float: left;
}
.btn{
  background: #fff;
  color: #003459;
  border-radius: 10px;
}
.btn span,
.btn strong{
  padding: 12px 20px;
}

article img{
  display: block;
  position: absolute;
  float: none;
  max-width: 100%;
}
article .content{
  padding-top: 100px;
  padding-bottom: 100px;
}
.copy{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  max-width: 60%;
}
.thumbs,
.thumbs img{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.thumbs{
  margin: 10px 0px 0px;
}
.thumbs img{
  width: auto;
  margin: 0px 15px 0px 0px;
  max-width: calc(33.3% - 10px);
}
.thumbs img:last-child{
  margin: 0px;
}
.thumbs img:nth-of-type(2){
  transition-delay: 300ms;
}
.thumbs img:nth-of-type(3){
  transition-delay: 600ms;
}

article.article-right .copy,
article.article-right .btn{
  float: right;
  text-align: right;
}
article.article-right .copy h2{

}


header img{
  display: block;
  position: relative;
  float: none;
  margin: 20px auto;
  max-width: 100%;
}
.bgs,
[data-bg]{
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bgs:after{
  content: '';
  background: radial-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.4) 100%) center center/100% 100% no-repeat;
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.bgs{
  height: calc(100% + 100px);
}
.bgs div,
[data-bg]{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgs .bg-top{
  background-position: top center;
}
.bgs .bg-bot{
  background-position: bottom center;
}
#top .content > div{
  display: block;
  position: absolute;
  float: none;
  bottom: 20%;
  left: 20px;
  max-width: calc(100% - 40px);
}

#top .content > div,
.lax-fadein{
  opacity: 0;
  transform: translate(0px, 70px);
  transition:
    opacity 1300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 1300ms cubic-bezier(0.645, 0.045, 0.355, 1)
  ;
}
.ready #top .content > div,
.lax-fadein.lax-active{
  transform: none;
  opacity: 1;
}
#top .bgs{
  transform-origin: bottom center;
}
#top [data-bg="0"]{
  background-image: url(images/0-0-1200.jpg);
}
@media only screen and (min-width : 1200px){
  #top [data-bg="0"]{
    background-image: url(images/0-0-2000.jpg);
  }
}







#accomodations [data-bg="0"]{
  background-image: url(images/1-0-1200.jpg);
}
@media only screen and (min-width : 1200px){
  #accomodations [data-bg="0"]{
    background-image: url(images/1-0-2000.jpg);
  }
}



nav{
  display: block;
  position: fixed;
  float: none;
  top: 100%;
  width: 100%;
  height: 50px;
  color: #003459;
}
nav ul{
  background: #fefff2;
  display: block;
  position: relative;
  float: none;
  width: 100%;
  max-width: 980px;
  padding: 0px;
  margin: 0px auto;
  height: 100%;
  text-align: center;
}
nav li{
  display: inline-block;
  position: relative;
  float: none;
  padding: 0px 12px;
}

[transportation]{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  float: none;
  left: 0px;
  width: 100%;
  top: 0px;
}
#transportation [data-bg]{
  /*transition-delay: 400ms;*/
}
#transportation [data-bg="0"]{
  background-image: url(images/transportation.png);
  height: calc(100% + 100px);
}
#transportation [data-bg="1"]{
  background-image: url(images/transportation-roads.png);
  height: calc(100% + 125px);
}
#transportation [data-bg="2"]{
  background-image: url(images/transportation-marks.png);
  height: calc(100% + 100px);
}