
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}

html{
	height: 100%;
	width: 100%;
}
body{
  background: #fff;
	
  width: 100%;
  
  color: #494949;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: Georgia, serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5em;
  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  
  overflow: visible !important;
  overflow-x: hidden;
  
  padding: 0px;

  /*
  font-family: 'Rufina', serif;
  */

  /*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}
body#holme{
  background: #00171F;
  color: #fefff2;
}
@media only screen
and (min-width : 0px)
and (max-width : 767px){
	body{
		font-size: 16px;
	}
}
strong{
	font-weight: 600;
}

.preload{
	display: block;
	position: absolute;
	float: none;
	top: -100px;
	left: -100px;
  width: 10px;
  height: 10px;
}

/*
body,
body *{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.ie9{
  font-family: Arial, sans-serif !important;
}
*/

body .mobile{
  display: none !important;
}
@media only screen
and (min-width : 0px)
and (max-width : 767px){
  body .mobile{
    display: block !important;
  }
  body .desktop{
    display: none !important;
  }
}

a{
  text-decoration: none;
  color: inherit;
}
[glyph]{
  font-family: Arial !important;
}



br, .clear{
	clear: both;
}
.no-clear,
.noclear{
  clear: none !important;
}
.nobrk{
  white-space: nowrap;
}
sup,
sub{
	position: relative;
  font-size: .65em;
  line-height: 0em;
  text-transform: none;
}
sup{
  vertical-align: super;
}
sup a{
	text-decoration: none;
}
sub{
	top: 2px;
}
aside sup{
}
.center{
  text-align: center;
}



h1,
h2,
h3,
h4,
p,
ul,
ol,
li{
  margin: 0px;
  padding: 0px 0px 12px;
  clear: both;
  font-size: inherit;
	font-weight: normal;
}
h1,
h2,
h3{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: normal;
}
h1{
  font-size: 50px;
}
.internal h1{
  text-align: center;
}
section h1{
  padding: 0px 0px 80px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 24px;
}
ul ul{
	padding-bottom: 0px;
}
li:last-child{
	padding-bottom: 0px;
}

p sup,
li sup{
  padding-left: 1px;
}

a{
	color: inherit;
}

@media only screen
and (min-width : 0px)
and (max-width : 767px) {
}



p.hang{
  padding-left: 6px;
}
p.hang .hang{
  float: left;
  margin: 0px 0px 0px -6px;
  width: 4px;
  top: 5px;
}

body > div{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

main,
main > div,
header,
section,
article,
footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
.mobile main{
  position: fixed;
  float: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
header{
  height: calc(100vh - 100px);
  color: #fff;
}
#home header{
  height: 100vh;
  max-height: unset;
  min-height: unset;
}
/*
header{
  margin-bottom: 80px;
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
article:first-of-type{
  margin-top: 100vh;
}
*/
article{
  border-bottom: #003459 solid 1px;
}
section > div,
nav > div > div,
.content{
  display: block;
  position: relative;
  float: none;
  margin: 0px auto;
  width: 100%;
  max-width: 980px;
  padding: 20px 20px 0px;
  box-sizing: border-box;
  height: 100%;
}

footer .content{
  padding-top: 120px;
  padding-bottom: 80px;
}

nav{
  background: #003459;
  display: block;
  position: fixed;
  float: none;
  /*top: 0px;
  bottom: calc(100vh - 80px);
  */
  color: #fff;
  bottom: 100%;
  left: 0px;
  width: 100%;
  height: 80px;
  overflow: hidden;
  transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav.nav-show{
  transform: translate(0px, 100%);
}
/*
#home nav{
  height: 0px;
}
*/
nav > div{
  display: block;
  position: absolute;
  float: none;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
}
nav > div > div{
  height: 100%;
}
nav ul,
nav li,
nav li a,
nav li span{
  display: block;
  position: relative;
  float: left;
  clear: none;
  list-style: none;
}
nav ul{
  float: right;
  margin: 0px -10px 0px 0px;
}
nav li span{
  padding: 10px;
}

/*
section{
  background: #ececec;
}
section > div{
  background: #fff;
  margin-top: 20px;
}
*/
section > div div:empty{
  background: #007EA7;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 1px;
  margin: 50px 0px;
}
.btn,
.btn span,
.btn strong{
  display: block;
  position: relative;
  float: left;
}
.btn{
  color: #fff;
  background: #003459;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0px 20px;
}
.btn span,
.btn strong{
  padding: 12px 20px;
}
.btn strong{
  font-weight: 600;
}
.btn.btn-light{
  background: #fff;
  color: #00171F;
}

article img{
  display: block;
  position: absolute;
  float: none;
  max-width: 100%;
}
article .content{
  padding-top: 100px;
  padding-bottom: 100px;
}
.internal header + article .content{
  padding-top: 30px;
}
.copy{
  display: block;
  position: relative;
  float: left;
  width: 70%;
  /*max-width: 60%;*/
}

.copy.copy-wide{
  max-width: 80%;
}
.copy.copy-fullwidth{
  max-width: 100%;
  width: 100%;
}
.thumbs,
.thumbs .thumbs-col,
.thumbs figure{
  display: block;
  position: relative;
  float: left;
}
.thumbs{
  margin: 0px;
  width: 30%;
  float: right;
}
.thumbs .thumbs-col{
  width: 50%;
}
.thumbs figure{
  width: calc(100% - 10px);
  margin: 0px 10px 10px 0px;
}
.thumbs a{
  display: block;
}
.thumbs a.thumbs-34{
  padding: 0px 0px 75%;
}
.thumbs a img{
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media (max-width:768px){
  .thumbs .thumbs-col{
    width: 100%;
  }
}
.internal .thumbs{
  width: 100%;
  margin: 30px 0px 80px;
}
.internal .thumbs figure{
  max-width: 140px;
}
/*
.thumbs img:last-child{
  margin: 0px;
}
.thumbs img:nth-of-type(2){
  transition-delay: 200ms;
}
.thumbs img:nth-of-type(3){
  transition-delay: 400ms;
}
*/

article.article-right .copy,
article.article-right .btn{
  float: right;
  text-align: right;
}
.text-center,
article.article-center .copy,
article.article-center .btn{
  text-align: center;
}
article.article-right .copy h2{

}


header img{
  display: block;
  position: relative;
  float: none;
  margin: 20px auto;
  max-width: 100%;
}
.bgs,
[data-bg]{
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bgs:after{
  content: '';
  background: radial-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.4) 100%) center center/100% 100% no-repeat;
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.bgs{
  /*height: calc(100% + 100px);*/
  height: 100%;
}
.bgs div,
[data-bg]{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgs .bg-top{
  background-position: top center;
}
.bgs .bg-bot{
  background-position: bottom center;
}
.bgs div{
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bgs[data-show="0"] [data-bg="0"],
.bgs[data-show="1"] [data-bg="1"],
.bgs[data-show="2"] [data-bg="2"],
.bgs[data-show="3"] [data-bg="3"],
.bgs[data-show="4"] [data-bg="4"],
.bgs[data-show="5"] [data-bg="5"],
.bgs[data-show="6"] [data-bg="6"],
.bgs[data-show="7"] [data-bg="7"],
.bgs[data-show="8"] [data-bg="8"],
.bgs[data-show="9"] [data-bg="9"]{
  opacity: 1;
}
.bgs-ind{
  display: block;
  position: absolute;
  float: none;
  bottom: 10px;
  left: 50%;
  height: 25px;
  transform: translate(-50%,0px);
}
.bgs-ind span{
  background: rgba(255, 255, 255, .8);
  display: block;
  position: relative;
  float: left;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 10px;
  opacity: .3;
  pointer-events: none;
}
.bgs-ind span:after{
  content: '';
  display: block;
  position: absolute;
  float: none;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50%;
  pointer-events: auto;
}
.bgs-ind span.bgs-ind-loaded{
  opacity: 1;
  cursor: pointer;
}
.bgs[data-show="0"] ~ .bgs-ind [data-bg-ind="0"]:after,
.bgs[data-show="1"] ~ .bgs-ind [data-bg-ind="1"]:after,
.bgs[data-show="2"] ~ .bgs-ind [data-bg-ind="2"]:after,
.bgs[data-show="3"] ~ .bgs-ind [data-bg-ind="3"]:after,
.bgs[data-show="4"] ~ .bgs-ind [data-bg-ind="4"]:after,
.bgs[data-show="5"] ~ .bgs-ind [data-bg-ind="5"]:after,
.bgs[data-show="6"] ~ .bgs-ind [data-bg-ind="6"]:after,
.bgs[data-show="7"] ~ .bgs-ind [data-bg-ind="7"]:after,
.bgs[data-show="8"] ~ .bgs-ind [data-bg-ind="8"]:after{
  border: 1px rgba(255, 255, 255, .8) solid;
}

header .content > div{
  display: block;
  position: absolute;
  float: none;
  bottom: 10%;
  left: 20px;
  right: 20px;
  /*max-width: calc(100% - 40px);
  width: 100%;*/
}

header .content > div,
.lax-fadein{
  opacity: 0;
  transform: translate(0px, 70px);
  transition:
    opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1)
  ;
}
.ready header .content > div,
.lax-fadein.lax-active{
  transform: none;
  opacity: 1;
}
header .bgs{
  transform-origin: bottom center;
}
#home header [data-bg="0"]{
  background-image: url(images/home-header-0-1200.jpg);
}
#home header [data-bg="1"]{
  background-image: url(images/home-header-1-1200.jpg);
}
#home header [data-bg="2"]{
  background-image: url(images/home-header-2-1200.jpg);
}
#home header [data-bg="3"]{
  background-image: url(images/home-header-3-1200.jpg);
}
#home header [data-bg="4"]{
  background-image: url(images/home-header-4-1200.jpg);
}
#home header [data-bg="5"]{
  background-image: url(images/home-header-5-1200.jpg);
}
@media only screen and (min-width : 1200px){
  #home header [data-bg="0"]{
    background-image: url(images/home-header-0-2000.jpg);
  }
  #home header [data-bg="1"]{
    background-image: url(images/home-header-1-2000.jpg);
  }
  #home header [data-bg="2"]{
    background-image: url(images/home-header-2-2000.jpg);
  }
  #home header [data-bg="3"]{
    background-image: url(images/home-header-3-2000.jpg);
  }
  #home header [data-bg="4"]{
    background-image: url(images/home-header-4-2000.jpg);
  }
  #home header [data-bg="5"]{
    background-image: url(images/home-header-5-2000.jpg);
  }
}



#accommodations header [data-bg="0"]{
  background-image: url(images/accommodations-0-1200.jpg);
}
#accommodations header [data-bg="1"]{
  background-image: url(images/accommodations-1-1200.jpg);
}
#accommodations header [data-bg="2"]{
  background-image: url(images/accommodations-2-1200.jpg);
}
#accommodations header [data-bg="3"]{
  background-image: url(images/accommodations-3-1200.jpg);
}
#accommodations header [data-bg="4"]{
  background-image: url(images/accommodations-4-1200.jpg);
}
#accommodations header [data-bg="5"]{
  background-image: url(images/accommodations-5-1200.jpg);
}
#accommodations header [data-bg="6"]{
  background-image: url(images/accommodations-6-1200.jpg);
}
@media only screen and (min-width : 1200px){
  #accommodations header [data-bg="0"]{
    background-image: url(images/accommodations-0-2000.jpg);
  }
  #accommodations header [data-bg="1"]{
    background-image: url(images/accommodations-1-2000.jpg);
  }
  #accommodations header [data-bg="2"]{
    background-image: url(images/accommodations-2-2000.jpg);
  }
  #accommodations header [data-bg="3"]{
    background-image: url(images/accommodations-3-2000.jpg);
  }
  #accommodations header [data-bg="4"]{
    background-image: url(images/accommodations-4-2000.jpg);
  }
  #accommodations header [data-bg="5"]{
    background-image: url(images/accommodations-5-2000.jpg);
  }
  #accommodations header [data-bg="6"]{
    background-image: url(images/accommodations-6-2000.jpg);
  }
}


#cruises header [data-bg="0"]{
  background-image: url(images/cruises-0-1200.jpg);
  background-position: center bottom;
}
#cruises header [data-bg="1"]{
  background-image: url(images/cruises-1-1200.jpg);
  background-position: center top;
}
#cruises header [data-bg="2"]{
  background-image: url(images/cruises-2-1200.jpg);
  background-position: center center;
}
#cruises header [data-bg="3"]{
  background-image: url(images/cruises-3-1200.jpg);
  background-position: center bottom;
}
#cruises header [data-bg="4"]{
  background-image: url(images/cruises-4-1200.jpg);
  background-position: center center;
}
#cruises header [data-bg="5"]{
  background-image: url(images/cruises-5-1200.jpg);
  background-position: center bottom;
}
@media only screen and (min-width : 1200px){
  #cruises header [data-bg="0"]{
    background-image: url(images/cruises-0-2000.jpg);
  }
  #cruises header [data-bg="1"]{
    background-image: url(images/cruises-1-2000.jpg);
  }
  #cruises header [data-bg="2"]{
    background-image: url(images/cruises-2-2000.jpg);
  }
  #cruises header [data-bg="3"]{
    background-image: url(images/cruises-3-2000.jpg);
  }
  #cruises header [data-bg="4"]{
    background-image: url(images/cruises-4-2000.jpg);
  }
  #cruises header [data-bg="5"]{
    background-image: url(images/cruises-5-2000.jpg);
  }
}


/*
nav{
  display: block;
  position: fixed;
  float: none;
  top: 100%;
  width: 100%;
  height: 50px;
  color: #003459;
}
nav ul{
  background: #fefff2;
  display: block;
  position: relative;
  float: none;
  width: 100%;
  max-width: 980px;
  padding: 0px;
  margin: 0px auto;
  height: 100%;
  text-align: center;
}
nav li{
  display: inline-block;
  position: relative;
  float: none;
  padding: 0px 12px;
}
[transportation]{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  float: none;
  left: 0px;
  width: 100%;
  top: 0px;
}
*/
#home #transportation h2,
#home #transportation p{
  color: #fff;
}
#home #transportation [data-bg="0"]{
  background-image: url(images/home-transportation.png);
  height: calc(100% + 150px);
}
#home #transportation [data-bg="1"]{
  background-image: url(images/home-transportation-roads.png);
  height: calc(100% + 150px);
}
#home #transportation [data-bg="2"]{
  background-image: url(images/home-transportation-marks.png);
  height: calc(100% + 150px);
}
#felix{
  display: block;
  position: relative;
  float: left;
  list-style: none;
  width: 100%;
  padding: 0px 0px 0px 75px;
  box-sizing: border-box;
}
#felix img{
  display: block;
  position: absolute;
  float: none;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
#felix p{
  font-size: 22px;
}
#addy{
  font-size: 12px;
  padding: 20px 0px 40px;
  text-align: center;
}

/*
#read-more div{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

#read-more > div{
  padding: 10px 0px 50px;
  border-bottom: 1px #B9C7D1 solid;
  margin: 0px 0px 50px;
}

#read-more > div div{
  max-width: 600px;
}
*/

#top h2{
  display: block;
  position: absolute;
  float: none;
  top: 50%;
  right: 0px;
  width: 260px;
  transform: translate(0px, -50%);
  text-align: right;
  font-size: 32px;
  padding: 0px;
}
#top h2 a,
#top h2 span{
  display: block;
  position: relative;
  float: right;
}
#top h2 a{
  padding: 0px 40px 0px 0px;
}
#top h2 strong{
  display: block;
  position: absolute;
  float: none;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
  font-size: 68px;
}